# include setup files
include setup.py
include pyproject.toml
include README.md
include CHANGELOG.md
include COPYING
include COPYING.LESSER

# include all cython and c++ files
recursive-include src/pupil_detectors *.pxd *.pyx *.hpp *cpp

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

# exclude package data (only for wheels, not sdist)
recursive-exclude src/pupil_detectors/.package_data *
